@import "tailwindcss";

@theme {
  --color-primary: #d97706;
  --color-secondary: #92400e;
  --color-accent: #fcd34d;
  --color-background: #fffbeb;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  background-color: var(--color-background);
  color: #1f2937;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}
